/* 表示領域 */
.area {
    width: 600px;
    height: 8.0em;
    border: 1px solid #ddd;
    overflow: hidden;
}
/* 表示領域に合わせてサイズと余白を設定 */
.marquee {
    width: 600px;
    padding-left: 600px;
    white-space: nowrap;

    animation-name: marquee;
    animation-duration: 5.0s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes marquee {
    from    { transform: translate(0%); }
    100%,to { transform: translate(-100%); }
}